## Email Template - CodSoft Internship Task 2

✈️ Travel Email Template..

A modern and responsive Travel Email Template 
designed to inspire users to explore new 
destinations and travel experiences. Built
using HTML5 and CSS3, this project features
a clean layout, attractive visuals, engaging
call-to-action sections, and a mobile-friendly 
design for seamless viewing across all devices.

The template is ideal for travel agencies, tour 
operators, holiday packages, and tourism promotions.
It demonstrates responsive web design principles, 
structured email layouts, and creative front-end
development techniques.

🚀 Features

- Fully Responsive Design
- Modern Travel-Themed Interface
- Attractive Hero Section
- Call-to-Action Buttons
- Clean and Professional Layout
- Mobile & Desktop Compatible
- Easy to Customize

🛠️ Technologies Used

- HTML5
- CSS3

🎯 Project Objective

To create an engaging and responsive email template that effectively promotes travel destinations, tour packages, and tourism services while providing an excellent user experience across different screen sizes.

👩‍💻 Author

Bharti Adhikari

CodSoft Internship - Task 2
